<h1><%= @post.title %></h1>

<%= link_to 'Редактировать пост', edit_post_path(@post) %>
<%= link_to 'Удалить пост', post_path(@post), data: { "turbo-method": :delete } %>

<p><%= @post.body %></p>

</br>

<h2>Комментарии</h2>

<% @post.comments.each do |comment| %>

	<p><%= comment.body %></p>

<% end %>

<h2>Добавить комментарий</h2>

<%= form_for ([@post, @post.comments.build]) do |f| %>


<div class="form-control">
	
	<%= f.text_area :body %>
</div>

<div class="form-control">
	<%= f.submit 'Сохранить комментарий' %>
	</div>

	<% end %>